.btn {
  padding: 0.3rem 2rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: $color-black;
  border: 1px solid $color-black;
  font-family: $font-alata;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: $color-black;
  color: $color-white;
  font-weight: normal;
}
